diffusers==0.34.0
huggingface-hub==0.30.1
importlib_metadata==8.0.0
transformers==4.53.1
pillow
requests
urllib3
idna
certifi
tqdm
regex
safetensors
tokenizers==0.21.1
timm
pandas
python-dateutil
pytz
six
onnxscript
onnx
google
protobuf
ml_dtypes
onnx-ir
monai
