bazel
bazel-bazel-test
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-TRTorch
bazel-trtorch-testing
bazel-torch-tensorrt
bazel-Torch-TensorRT
third_party/pytorch
*.jit
*.jit.pt
.\#*
experiments/
py/build/
py/tmp/
py/.eggs
.vscode/
.DS_Store
._DS_Store
*.pth
*.pyc
cpp/ptq/training/vgg16/data/*
*.bin
cpp/ptq/datasets/data/
tests/accuracy/datasets/data/*
._.DS_Store
*.tar.gz
*.tgz
docsrc/_build
docsrc/_notebooks
docsrc/_cpp_api
docsrc/_tmp
*.so
__pycache__
*.egg-info
dist
bdist
py/torch_tensorrt/_version.py
py/torch_tensorrt/lib
py/torch_tensorrt/include
py/torch_tensorrt/bin
py/torch_tensorrt/BUILD
py/torch_tensorrt/LICENSE
py/torch_tensorrt/WORKSPACE
py/wheelhouse
py/.eggs
notebooks/.ipynb_checkpoints/
*.cache
tests/py/data
examples/**/deps/**/*
!examples/**/deps/.gitkeep
examples/torchtrt_runtime_example/torchtrt_runtime_example
examples/int8/ptq/ptq
examples/int8/qat/qat
examples/int8/training/vgg16/data/*
examples/int8/datasets/data/*
env/**/*
model_manifest.json
bazel-Torch-TensorRT-Preview
docsrc/src/
bazel-TensorRT
bazel-tensorrt
.pytest_cache
*.cache
*cifar-10-batches-py*
bazel-project
build/