bazel
bazel-bazel-test
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-TRTorch
third_party/pytorch
*.jit
*.jit.pt
.\#*
experiments/
py/build/
py/tmp/
py/.eggs
.vscode/
.DS_Store
._DS_Store
*.pth
*.pyc
cpp/ptq/training/vgg16/data/*
*.bin
cpp/ptq/datasets/data/
tests/accuracy/datasets/data/*
._.DS_Store
*.tar.gz
*.tgz
docsrc/_build
docsrc/_cpp_api
docsrc/_tmp
*.so
__pycache__
*.egg-info
dist
bdist
py/trtorch/_version.py
py/wheelhouse
py/.eggs