[build-system]
requires = [
    "setuptools",
    "wheel",
    "numpy",
    "ninja",
    "pyyaml",
    "setuptools",
    "cffi",
    "typing_extensions",
    "future",
]

# Use legacy backend to import local packages in setup.py
#build-backend = "setuptools.build_meta:__legacy__"


[tool.black]
# Uncomment if pyproject.toml worked fine to ensure consistency with flake8
# line-length = 120
target-versions = ["py37", "py38", "py39", "py310"]
force-exclude = """
elu_converter/setup.py
"""
