setuptools==70.2.0
numpy<2.0.0
packaging
pyyaml
torch
--index-url https://developer.download.nvidia.com/compute/redist/jp/v61/pytorch/torch-2.5.0a0+872d972e41.nv24.08.17622132-cp310-cp310-linux_aarch64.whl
