expecttest==0.1.6
networkx==2.8.8
numpy<2.0.0
parameterized>=0.2.0
pytest>=9.0.3
pytest-xdist>=3.6.1
pyyaml
transformers>=5.3.0
# TODO: currently timm torchvision nvidia-modelopt does not have distributions for jetson