# This is a basic workflow to help you get started with Actions

name: Generate Docs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

jobs:
  build-docs:
    runs-on: ubuntu-18.04
    container:
      image: docker.pkg.github.com/pytorch/tensorrt/docgen:1.1.0
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Reclaim space
        run: |
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf "/usr/local/share/boost"
      - uses: actions/checkout@v2
        with:
          ref: ${{github.head_ref}}
      - name: Get HEAD SHA
        id: vars
        run: echo "::set-output name=sha::$(git rev-parse --short HEAD)"
      - name: Build Python Package
        run: |
          cp docker/WORKSPACE.docker WORKSPACE
          cd py
          python3 setup.py install
      - name: Generate New Docs
        run: |
          cd docsrc
          pip3 install -r requirements.txt
          python3 -c "import torch_tensorrt; print(torch_tensorrt.__version__)"
          make html
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
        # Required
          commit_message: "docs: [Automated] Regenerating documenation for ${{ steps.vars.outputs.sha }}"
          commit_options: "--no-verify --signoff"
          file_pattern: docs/
          commit_user_name: Torch-TensorRT Github Bot
          commit_user_email: torch-tensorrt.github.bot@nvidia.com
          commit_author: Torch-TensorRT Github Bot <torch-tensorrt.github.bot@nvidia.com>
