name: Test variant dependency workflow

on:
  pull_request:
  workflow_dispatch:


jobs:
  generate-matrix:
    name: Generate Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}
    steps:
      - name: Generate matrix
        id: generate-matrix
        run: |
          echo "matrix={\"cuda-version\":[\"12.8\", \"13.0\"]}" >> $GITHUB_OUTPUT

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [generate-matrix]
    strategy:
      fail-fast: false
    uses: ./.github/workflows/test-variant-dependency-build.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}


  L0-test:
    name: L0-test
    needs: [generate-matrix, build]
    if: always() && needs.build.result == 'success'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    uses: ./.github/workflows/test-variant-dependency-test.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      script: |
        set -euo pipefail
        echo "needs.build.outputs.result=${{ needs.build.outputs.result }}"
        echo "Running L0 test with CUDA ${{ matrix.cuda-version }}"
        if [ "${{ matrix.cuda-version }}" == "12.8" ]; then
          echo "Running L0 test for cu128 is not supported"
          exit -1
        fi
        echo "Running L0 test for ${{ matrix.cuda-version }} successfully completed"

  L1-test:
    name: L1-test
    needs: [generate-matrix, build, L0-test]
    if: always() && needs.build.result == 'success' && needs.L0-test.result == 'success'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    uses: ./.github/workflows/test-variant-dependency-test.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      script: |
        set -euo pipefail
        echo "needs.build.outputs.result=${{ needs.build.outputs.result }}"
        echo "Running L1 test with CUDA ${{ matrix.cuda-version }}"
        if [ "${{ matrix.cuda-version }}" == "12.8" ]; then
          echo "Running L1 test for cu128 is not supported"
          exit -1
        fi
        echo "Running L1 test for ${{ matrix.cuda-version }} successfully completed"


