name: Test variant dependency workflow

on:
  pull_request:
  workflow_dispatch:


jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}
    steps:
      - name: Generate matrix
        id: generate-matrix
        run: |
          echo "matrix={\"cuda-version\":[\"12.8\", \"13.0\"]}" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: [generate-matrix]
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Build with CUDA ${{ matrix.cuda-version }}
        id: build-step
        run: |
          echo "Building with CUDA ${{ matrix.cuda-version }}"
          if [ "${{ matrix.cuda-version }}" == "12.8" ]; then
            echo "result=success" >> $GITHUB_OUTPUT
          else
            echo "result=failure" >> $GITHUB_OUTPUT
          fi

  test:
    needs: [build]
    if: always() && needs.build.build-step.outputs.result == 'success'
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Test with CUDA ${{ matrix.cuda-version }}
        run: |
          echo "needs.build.build-step.result=${{ needs.build.build-step.result }}"
          echo "Testing with CUDA ${{ matrix.cuda-version }}"

