name: Sync uv.lock

on:
  pull_request:
  schedule:
    # Every Monday at 03:00 UTC; adjust as needed
    - cron: "0 3 * * 1"
  push:
    branches: [main]
    paths:
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:  # allow manual runs

jobs:
  sync-uv-lock:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          #token: ${{ secrets.UV_LOCK_PR_TOKEN }}

      - name: Fake the changes to the uv.lock file
        run: |
          echo "fake changes to uv.lock" > uv.lock

      - name: Auto-commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        if: steps.check-changes.outputs.has_changes == 'true'
        with:
          commit_message: "chore: update uv.lock"
          # testing only 
          branch: update/uv-lockfiles-20059032135
          commit_options: "--no-verify --signoff"
          file_pattern: uv.lock
          commit_user_name: Torch-TensorRT Github Bot
          commit_user_email: torch-tensorrt.github.bot@nvidia.com
          commit_author: Torch-TensorRT Github Bot <torch-tensorrt.github.bot@nvidia.com>
      # - name: Create Pull Request
      #   if: steps.check-changes.outputs.has_changes == 'true'
      #   uses: peter-evans/create-pull-request@v5
      #   with:
      #     token: ${{ secrets.UV_LOCK_PR_TOKEN }}
      #     commit-message: "chore: update uv.lock"
      #     base: ${{ github.event_name == 'pull_request' && github.base_ref || github.ref_name }}
      #     title: "uv.lock file updates"
      #     body: |
      #       ## Summary
      #       Automated update of UV lockfiles to ensure all dependencies are current.
            
      #       ### Changes include:
      #       - Updated dependency versions in `uv.lock`

      #       ### Next Steps:
      #       - Review the updated dependencies
      #       - Run CI to ensure no breaking changes
      #       - Merge if all tests pass
            
      #       ---
            
      #       *Auto-generated by [uv-update](.github/workflows/uv-update.yml) workflow*
      #     branch: "update/uv-lockfiles-${{ github.run_id }}"
      #     delete-branch: true
      #     assignees: ""
      #     reviewers: ""
      #     draft: false

concurrency:
  group: ${{ github.workflow }}-uv-update-${{ github.event.pull_request.number || github.ref_name }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true